/* בסיס כללי */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alef", Arial, sans-serif;
  background: #f7f7f7;
  color: #111;
  padding: 40px;
}

/* כפתורים */
button, a {
  display: inline-block;
  padding: 16px 28px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

/* כותרות */
h1 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* מרכז */
.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
